{% extends "search/layout.html" %}
{% macro form_group(name, comment, type='text') -%}
        <div class="form-group">
            <label for="{{ name }}">{{ comment }}</label>
            <input type={{ type }} class="form-control" id="{{ name }}" name="{{ name }}" value="{{ userInfo[name] }}">
        </div>
{%- endmacro %}

{% block myStyle %}
  <style>
      .x_content{
          text-align: left;
      }
  </style>
{% endblock %}

{% block content %}
<div class="x_content">
    <!-- <h2>图书详情</h2>
    <hr/> -->
    <div class="col-md-7 col-sm-7 col-xs-12" style="border:0px solid #e5e5e5;">
    <form action="" method="POST">
        {{ form_group('username', '用户名') }}
        {{ form_group('nickname', '昵称') }}
        {{ form_group('email', '邮箱') }}
        {{ form_group('phone', '电话') }}
        {{ form_group('passwd', '密码', 'password') }}
        <button type="submit" class="btn btn-primary">保存用户</button>
    </form>
    </div>
    
</div>
{% endblock %}
