<!DOCTYPE html>
 <html lang="zh-CN">
   <head>
     <meta charset="utf-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
     <meta name="description" content="">
     <meta name="author" content="">
     <link rel="icon" href="../../favicon.ico">
     <title>Signin Template for Bootstrap</title>
     <!-- Bootstrap core CSS -->
     <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
 
     <!-- Custom styles for this template -->
     <link href="/static/css/signin.css" rel="stylesheet">
   </head>
 
   <body>
    <div class="row">
     <div class="container" class="col-md-3 col-md-offset-5">
        
       <form id="register-form" action="" method="POST">
        <h2 >用户注册</h2>
        <div class="input-group">
            <span class="input-group-addon" id="username">用户名</span>
            <input type="text" class="form-control" name="username" placeholder="" required>
        </div>
        <br />
        <div class="input-group">
            <span class="input-group-addon" id="nickname">昵　称</span>
            <input type="text" class="form-control" name="nickname" placeholder="">
        </div> 
        <br />
        <div class="input-group">
            <span class="input-group-addon" id="nickname">密　码</span>
            <input type="password" class="form-control" name="passwd" placeholder="">
        </div> 
        <br />
        <div class="input-group">
            <span class="input-group-addon" id="nickname">确　认</span>
            <input type="password" class="form-control" name="confirm" placeholder="">
        </div> 
        <br />
        <div class="input-group">
            <span class="input-group-addon" id="nickname">邮　箱</span>
            <input type="text" class="form-control" name="email" placeholder="">
        </div> 
        <br/>
        <div class="input-group">
            <span class="input-group-addon" id="nickname">手　机</span>
            <input type="text" class="form-control" name="phone" placeholder="">
        </div>
        <br/>
        <input class="btn btn-lg btn-primary btn-block" type="submit" value="注册"/>
       </form>
     </div>
    </div>
   </body>
   
 </html>
